html {
  font-size: 10px;
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
  position: relative;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

.section {
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.911);
  width: 50vw;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 1rem;
}

.title {
  font-size: 5rem;
  font-family: "Karla", sans-serif;
}

.scores {
  font-size: 1.6rem;
  /* padding-bottom: 4rem; */
  height: 10vh;
  position: relative;
  margin: 2rem;
  padding: 1rem;
}

.table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25vw;
}

.table-row {
  background-color: rgba(0, 0, 0, 0.911);
  color: whitesmoke;
}

.btn {
  padding: 0.3rem;
  margin: 0.3rem;
  font-family: "Rubik", sans-serif;
  background-color: rgba(0, 0, 0, 0.911);
  color: whitesmoke;
  border: rgba(0, 0, 0, 0.911) 1px solid;
  border-radius: 0.5rem;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.74);
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .section {
    width: 70vw;
  }
}

@media screen and (max-width: 570px) {
  .section {
    width: 90vw;
  }

  .title {
    font-size: 3.5rem;
  }

  .table {
    width: 50vw;
  }
}
