html {
  font-size: 10px;
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
  background-image: url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-container {
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1.5rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.911);
}

.section {
  position: relative;
  height: 80vh;
  color: rgba(0, 0, 0, 0.911);
}

.section-div {
  background-color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-bottom: 1rem;
  border-radius: 1rem;
  width: 50vw;
  height: 50vh;
}

.title {
  font-size: 5rem;
  font-family: "Karla", sans-serif;
}

.info {
  font-size: 1.6rem;
  padding: 0.5rem 5rem;
  padding-bottom: 2rem;
}

.start-btn {
  padding: 0.8rem;
}

.btn {
  font-family: "Rubik", sans-serif;
  background-color: rgba(0, 0, 0, 0.911);
  color: whitesmoke;
  border: rgba(0, 0, 0, 0.911) 1px solid;
  border-radius: 0.5rem;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.74);
  cursor: pointer;
}

.question {
  font-size: 2rem;
  font-family: "Karla", sans-serif;
}

.button-div {
  display: flex;
  flex-direction: column;
}

.choice-btn {
  padding: 1rem;
  margin: 0.5rem;
  width: 15rem;
}

.correct-answer {
  background-color: rgb(67, 161, 67);
  border: 1px solid rgb(67, 161, 67);
  padding: 1rem;
  margin: 0.5rem;
  width: 15rem;
}

.correct,
.wrong {
  padding-top: 0.3rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.wrong-answer {
  background-color: rgb(255, 30, 30);
  border: 1px solid rgb(255, 30, 30);
  padding: 1rem;
  margin: 0.5rem;
  width: 15rem;
}

.submit-btn {
  margin: 0.5rem;
  padding: 0.2rem 0.5rem;
}

@media screen and (max-width: 1000px) {
  .section-div {
    width: 70vw;
  }

  .section {
    height: 90vh;
  }
}

@media screen and (max-width: 480px) {
  .section-div {
    width: 100vw;
    height: 42vh;
  }

  .title {
    font-size: 3.5rem;
  }

  .info {
    font-size: 1.2rem;
  }

  .question {
    font-size: 1.5rem;
  }

  .correct,
  .wrong {
    padding: 0;
  }
}
